#all{
    text-align: center;
    background-color: crimson;
}

#video{
    background-color: rgb(0, 217, 255);
    margin-right: 0;
    margin-left: 0;
    
}

#word{
    background-color: darkmagenta;
}